In [15]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
%matplotlib inline # only in a Jupyter notebook
import matplotlib.pyplot as plt
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

UsageError: unrecognized arguments: # only in a Jupyter notebook

In [16]:
#CONVERT NON-NUMBER VALUES TO NUMBER VALUES

import pandas as pd
db=pd.read_csv('/kaggle/input/data-storm-10/credit_card_default_train.csv')
db['Gender']=pd.factorize(db['Gender'])[0]
db['EDUCATION_STATUS']=pd.factorize(db['EDUCATION_STATUS'])[0]
db['MARITAL_STATUS']=pd.factorize(db['MARITAL_STATUS'])[0]
db['AGE']=pd.factorize(db['AGE'])[0]
db['Balance_Limit_V1']=pd.factorize(db['Balance_Limit_V1'])[0]
#db.head(10)
#db.columns
data=db[db.columns[1:24]]
target=db['NEXT_MONTH_DEFAULT']
data.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_SEP,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC
0,0,0,0,0,0,-1,-1,-1,-1,-1,...,6004,39418,162772,-13982,3437,6004,39418,162772,0,538165
1,0,1,1,0,1,0,-1,-1,-1,-1,...,26948,43530,80811,124590,151818,46200,43530,80811,942,33666
2,1,1,1,1,0,4,3,2,2,-2,...,15477,0,0,0,0,0,0,0,0,0
3,2,1,0,1,0,2,0,0,0,0,...,95193,97309,100353,102740,3855,3890,3696,4620,4049,3918
4,0,1,0,0,0,2,2,0,0,0,...,429785,435354,445271,453899,0,20790,16170,17325,16401,17325

In [17]:
#GRAPH THE MOST IMPORTANT FEATURES

'''import xgboost
import shap
# load JS visualization code to notebook
shap.initjs()
# train XGBoost model
X,y = data,target
model = xgboost.train({"learning_rate": 0.01}, xgboost.DMatrix(X, label=y), 100)
# explain the model's predictions using SHAP values
# (same syntax works for LightGBM, CatBoost, and scikit-learn models)
explainer = shap.TreeExplainer(model)
shap_values = explainer.shap_values(X)
shap.summary_plot(shap_values, X.columns, plot_type="bar")'''

'import xgboost\nimport shap\n# load JS visualization code to notebook\nshap.initjs()\n# train XGBoost model\nX,y = data,target\nmodel = xgboost.train({"learning_rate": 0.01}, xgboost.DMatrix(X, label=y), 100)\n# explain the model\'s predictions using SHAP values\n# (same syntax works for LightGBM, CatBoost, and scikit-learn models)\nexplainer = shap.TreeExplainer(model)\nshap_values = explainer.shap_values(X)\nshap.summary_plot(shap_values, X.columns, plot_type="bar")'

In [18]:
# PLOTTING SCATTER GRAPH AMONG FEATURES AND TARGET

'''from pandas.plotting import scatter_matrix
attributes = ['Client_ID', 'Balance_Limit_V1', 'Gender', 'EDUCATION_STATUS',
       'MARITAL_STATUS', 'AGE', 'PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT',
       'PAY_NOV', 'PAY_DEC', 'DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP',
       'DUE_AMT_OCT', 'DUE_AMT_NOV', 'DUE_AMT_DEC', 'PAID_AMT_JULY',
       'PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV',
       'PAID_AMT_DEC', 'NEXT_MONTH_DEFAULT']
scatter_matrix(db[attributes], figsize=(12, 8))'''

"from pandas.plotting import scatter_matrix\nattributes = ['Client_ID', 'Balance_Limit_V1', 'Gender', 'EDUCATION_STATUS',\n       'MARITAL_STATUS', 'AGE', 'PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT',\n       'PAY_NOV', 'PAY_DEC', 'DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP',\n       'DUE_AMT_OCT', 'DUE_AMT_NOV', 'DUE_AMT_DEC', 'PAID_AMT_JULY',\n       'PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV',\n       'PAID_AMT_DEC', 'NEXT_MONTH_DEFAULT']\nscatter_matrix(db[attributes], figsize=(12, 8))"

In [19]:
#CALCULATING CORRELATION BETWEEN FEATURES AND TARGET

'''corr_matrix = db.corr()
corr_matrix["NEXT_MONTH_DEFAULT"].sort_values(ascending=False)'''

'corr_matrix = db.corr()\ncorr_matrix["NEXT_MONTH_DEFAULT"].sort_values(ascending=False)'

In [20]:
#CREATING NEW FEATURES

db["REMAIN_JULY"]=db["DUE_AMT_JULY"]-db["PAID_AMT_JULY"]
db["REMAIN_AUG"]=db["DUE_AMT_AUG"]-db["PAID_AMT_AUG"]
db["REMAIN_SEP"]=db["DUE_AMT_SEP"]-db["PAID_AMT_SEP"]
db["REMAIN_OCT"]=db["DUE_AMT_OCT"]-db["PAID_AMT_OCT"]
db["REMAIN_NOV"]=db["DUE_AMT_NOV"]-db["PAID_AMT_NOV"]
db["REMAIN_DEC"]=db["DUE_AMT_DEC"]-db["PAID_AMT_DEC"]
db["AVG_PAID"]=db["PAID_AMT_JULY"]+db["PAID_AMT_AUG"]+db["PAID_AMT_SEP"]+db["PAID_AMT_OCT"]+db["PAID_AMT_NOV"]+db["PAID_AMT_DEC"]
db["AVG_DUE"]=db['DUE_AMT_JULY']+db['DUE_AMT_AUG']+db['DUE_AMT_SEP']
db['score']=db['DUE_AMT_JULY']+db['DUE_AMT_AUG']+db['DUE_AMT_SEP']+db['DUE_AMT_OCT']+db['DUE_AMT_NOV']+db['DUE_AMT_DEC']-(db['PAID_AMT_JULY']+db['PAID_AMT_AUG']+db['PAID_AMT_SEP']+db['PAID_AMT_OCT']+db['PAID_AMT_NOV']+db['PAID_AMT_DEC'])
corr_matrix = db.corr()
corr_matrix["NEXT_MONTH_DEFAULT"].sort_values(ascending=False)
db[(db.columns[1:24]).append(db.columns[25:34])]

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,PAID_AMT_DEC,REMAIN_JULY,REMAIN_AUG,REMAIN_SEP,REMAIN_OCT,REMAIN_NOV,REMAIN_DEC,AVG_PAID,AVG_DUE,score
0,0,0,0,0,0,-1,-1,-1,-1,-1,...,538165,-189,-2615,-33414,-123354,162772,-552147,749796,12641,-548947
1,0,1,1,0,1,0,-1,-1,-1,-1,...,33666,201533,105618,-16582,-37281,79869,90924,356967,532117,424081
2,1,1,1,1,0,4,3,2,2,-2,...,0,16681,16082,15477,0,0,0,0,48240,48240
3,2,1,0,1,0,2,0,0,0,0,...,3918,86602,88958,91497,92689,96304,98822,24028,278498,554872
4,0,1,0,0,0,2,2,0,0,0,...,17325,429556,398676,413615,418029,428870,436574,88011,1278807,2525320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,0,1,1,1,0,0,0,0,0,0,...,2310,416835,399203,469766,196250,60607,34604,98291,1363196,1577265
23996,3,1,1,0,0,-1,-1,-1,-1,0,...,0,-355,-3922,-12695,20443,11989,0,33471,16201,15460
23997,1,1,2,0,0,4,3,2,-1,0,...,7161,8235,7752,-44449,38526,42924,37554,72303,22358,90542
23998,2,1,1,1,0,1,-1,0,0,0,...,4167,-202229,173180,173541,117459,-94962,108894,339988,353517,275883
23999,2,1,2,1,2,0,0,0,0,0,...,2310,105916,108813,111652,82086,72599,33063,19191,338642,514129

In [21]:
#GRAPHED MOST IMPORTANT FEATURES(GIVEN AND NEWLY ADDED) USING SHAP

'''import xgboost
import shap
# load JS visualization code to notebook
shap.initjs()
# train XGBoost model
X,y = db[(db.columns[1:24]).append(db.columns[25:34])],target
model = xgboost.train({"learning_rate": 0.005,"n_estimators": 100,'reg_alpha' : 0.001,"max_depth":6,'min_child_weight':2,'gamma':0}, xgboost.DMatrix(X, label=y), 150)
# explain the model's predictions using SHAP values
# (same syntax works for LightGBM, CatBoost, and scikit-learn models)
explainer = shap.TreeExplainer(model)
shap_values = explainer.shap_values(X)
shap.summary_plot(shap_values, X.columns, plot_type="bar")'''

'import xgboost\nimport shap\n# load JS visualization code to notebook\nshap.initjs()\n# train XGBoost model\nX,y = db[(db.columns[1:24]).append(db.columns[25:34])],target\nmodel = xgboost.train({"learning_rate": 0.005,"n_estimators": 100,\'reg_alpha\' : 0.001,"max_depth":6,\'min_child_weight\':2,\'gamma\':0}, xgboost.DMatrix(X, label=y), 150)\n# explain the model\'s predictions using SHAP values\n# (same syntax works for LightGBM, CatBoost, and scikit-learn models)\nexplainer = shap.TreeExplainer(model)\nshap_values = explainer.shap_values(X)\nshap.summary_plot(shap_values, X.columns, plot_type="bar")'

In [22]:
#SELECT FEATURES

X=pd.get_dummies(db[['PAY_JULY','PAY_AUG','PAY_SEP','PAY_OCT','PAY_NOV','PAY_DEC','AVG_PAID',"PAID_AMT_SEP","PAID_AMT_AUG",'REMAIN_JULY','AVG_DUE','DUE_AMT_JULY']])
Y=pd.get_dummies(db['NEXT_MONTH_DEFAULT'],drop_first=True)

#X['feasibility']=db['PAID_AMT_NOV']+db['PAID_AMT_DEC']

X.head(100)

,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,PAY_DEC,AVG_PAID,PAID_AMT_SEP,PAID_AMT_AUG,REMAIN_JULY,AVG_DUE,DUE_AMT_JULY
0,-1,-1,-1,-1,-1,-1,749796,39418,6004,-189,12641,3248
1,0,-1,-1,-1,-1,0,356967,43530,46200,201533,532117,353351
2,4,3,2,2,-2,-2,0,0,0,16681,48240,16681
3,2,0,0,0,0,0,24028,3696,3890,86602,278498,90457
4,2,2,0,0,0,0,88011,16170,20790,429556,1278807,429556
...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,42901,6228,7521,243523,729268,252624
96,0,0,0,0,0,0,83881,12936,14091,348995,1083919,363779
97,-1,-1,-1,0,-1,-1,14350,0,5161,-1317,6671,1067
98,0,-1,0,0,0,0,90718,2878,3622,-63227,168608,13269
99,0,0,0,0,0,0,85247,13867,34650,169346,433495,174082

In [23]:
#PREDICTING

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=0)
import xgboost
from xgboost import XGBClassifier
model=XGBClassifier()
model = xgboost.train({"learning_rate": 0.005,"n_estimators": 100,'reg_alpha' : 0.001,"max_depth":6,'min_child_weight':2,'gamma':0}, xgboost.DMatrix(x_train, label=y_train), 155)
#model.fit(x_train, y_train)
x_test=xgboost.DMatrix(x_test)
y_pred = model.predict(x_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)


#print(model.score(x_train,y_train))
#print(model.score(x_test,y_test))
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 82.61%

**Consider the commented lines are Used for feature selection purposes.**